<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.playlist.video-check</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/zsh</string>
        <string>/Users/adityadebchowdhury/Library/Application Support/PlaylistChecker/run_daily_check.sh</string>
    </array>
    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>9</integer>a
        <key>Minute</key>
        <integer>0</integer>
    </dict>
    <key>RunAtLoad</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/Users/adityadebchowdhury/Library/Application Support/PlaylistChecker/playlist-check.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/adityadebchowdhury/Library/Application Support/PlaylistChecker/playlist-check-error.log</string>
</dict>
</plist>
